/* arquivo global css */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1f1f1f;
    font-family: sans-serif;
    color: #fff;
}

/* background image */

.veneza {
    max-width: 100%;
    overflow: hidden;
    overflow: scroll;
    margin: 0;
    padding: 0;
}

.batata{
    background-image: url("../img/veneza.jpg");
    width: 100px;
    height: 100px;
    background-size: cover;
}


/* estilização do header */

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(rgb(230, 107, 7), rgba(223, 125, 46, 0.959));
    top: 0;
    position: sticky;
    padding: 16px; 
    z-index: 10;   
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 24px;
}

.nav-links li a {
    text-decoration: none;
    color: #fffcfc;

}

.nav-links li a:hover {
    color: #f5a976;
    
}

.button-search {
    display: flex;
    margin-right: 100px;
}


.botao-cadastro {
    background-color:#780fda ;
    padding: 10px 15px;
    border-radius: 40px;
}

.botao-cadastro:hover {
    background-color: #6b0dc2;
}

/* local para inerir o cpf */
.bota-cpf {
    background-color: #ccc;
    color: #1f1f1f;
    width: 500px;
    height: 300px;
}